@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Italic-VariableFont_opsz\,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.main3 {
    background-image: linear-gradient(90deg, #000 8.49%, rgba(3, 3, 3, 0.00) 77.17%), url(img/photo_2022-06-23_21-45-36\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.ulheader {
    display: flex;
    list-style: none;
    color: white;
    margin-top: 0;
    gap: 30px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-top: 0px;
    margin-left: 156px;
    margin-right: 717px;
    margin-bottom: 71px;
}

.main2 {
    width: 100%px;
    height: 100%;
    flex-shrink: 0;
    background-image: url(img/Знімок\ екрана\ 2024-08-30\ 170757.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.cards {
    display: flex;
    flex-shrink: 0;
    margin-bottom: 52px;
}

.card1 {
    background-color: #272727;
    border: 1px solid #272727;
    width: 310px;
    height: 225px;
    display: flex;
    margin-right: 94px;
    margin-left: 126px;
}

.card1:hover {
    background-color: #EBAD51;
}


.card2 {
    background-color: #272727;
    border: 1px solid #272727;
    width: 310px;
    height: 225px;
    display: flex;
    margin-right: 90px;
    margin-left: 104px;
}

.card2:hover {
    background-color: #EBAD51;
}

.card3 {
    background-color: #272727;
    border: 1px solid #272727;
    width: 310px;
    height: 225px;
    display: flex;
    margin-right: 145px;
    margin-left: 90px;
}

.card3:hover {
    background-color: #EBAD51;
}


.card3img {
    width: 180px;
}

.maincards1-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
    margin-bottom: 57px;
}

.maincard1 {
    width: 328px;
    height: 229px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    margin-left: 188px;
}

.card1-2pmain {
    width: 92.195px;
    height: 31.756px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 25.92px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -15px;
    margin-left: 121px;
    margin-bottom: 0;
}

.button2maincard {
    margin-left: 85px;
}

.bulca5 {
    margin-top: -200px;
    margin-left: 40px;
}

.bulca4 {
    margin-bottom: -40px;
    margin-left: 40px;
}

.bulca7 {
    margin-top: -150px;
    margin-left: 30px;
}

.bulca6 {
    margin-left: 30px;
}

.card3-4pmain {
    width: 300px;
    height: 31.756px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 25.92px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -20px;
    margin-left: 60px;
}

.maincard3p {
    width: 237px;
}

.maincard3 {
    width: 328px;
    height: 250px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    margin-left: 378px;
}

.maincard4 {
    width: 328px;
    height: 250px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    margin-left: 1090px;
    margin-top: -250px;
}

.maincard2 {
    border: 1px solid #FFF;
    width: 328px;
    height: 229px;
    margin-right: 300px;
}

.button1maincard {
    margin-left: 80px;
    margin-top: 25px;
}

.bulca2 {
    margin-left: -100px;
    margin-top: -42px;
}

.bulca3 {
    margin-left: 115px;
    margin-top: -50px;
}

.bulca1 {
    margin-top: -100px;
}

.maincard3button {
    margin-top: 0;
    margin-left: 75px;
}

.maincard4button {
    margin-top: 0;
    margin-left: 75px;
}

.button1-2maincard {
    width: 160px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #B47B48;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 25.92px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.button3-4maincard {
    width: 160px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #B47B48;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 25.92px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header {
    background: url(img/photo_2022-06-05_13-14-26\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.li1 {
    word-spacing: 20px;
}


.li2 {
    word-spacing: 20px;
}

.h3_header {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-top: 71px;
    margin-left: 146px;
    margin-right: 724px;
    margin-bottom: 22px;
}

.p_header {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 22px;
    margin-left: 160px;
    margin-right: 700.75px;
    margin-bottom: 33px;
}

.button_header {
    width: 207px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #B47B48;
    margin-left: 157px;
    margin-right: 1067px;
    margin-top: 33px;
    margin-bottom: 125px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cards_button {
    width: 79px;
    height: 34px;
    flex-shrink: 0;
    background: #C85312;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border: none;
}

.divcard {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
}

.h5cards {
    font-weight: 200;
    font-size: 24px;
}

.pcards {
    font-weight: 500;
    font-size: 16px;
}

.main {
    background-color: #202023;
}

.meinh2 {
    color: #FFF;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-top: -52px;
}

.h2main {
    color: #FFF;
    font-family: Italiana;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 840px;
    margin-top: 250px;
    margin-bottom: 0;
}

.li1main {
    width: 197.532px;
    height: 291.475px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Inter' sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 197.532px;
    height: 291.475px;
    flex-shrink: 0;
    background: rgba(242, 242, 242, 0.30);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    margin-bottom: 600px;
    width: 300px;
    height: 200px;
    margin-top: -590px;
    margin-left: 90px;
}

.li2main {
    width: 278px;
    color: #FFF;
    font-family: 'Inter' sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 197.532px;
    height: 291.475px;
    flex-shrink: 0;
    background: rgba(242, 242, 242, 0.30);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    width: 300px;
    height: 200px;
    margin-top: -260px;
}

.li3main {
    width: 252px;
    height: 133px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Inter' sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 197.532px;
    height: 291.475px;
    flex-shrink: 0;
    background: rgba(242, 242, 242, 0.30);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7px);
    margin-top: -50px;
    margin-right: 170px;
    width: 300px;
    height: 200px;
}

.hlibs {
    display: flex;

}

.hlib1 {
    display: block;
    width: 400px;
    margin-left: 200px;
    margin-top: -100px;
    height: 260px;
}

.hlib2 {
    display: block;
    margin-left: 170px;
    width: 300px;
    height: 300px;
    margin-right: 300px;
    margin-top: 200px;
}

.hlib3 {
    display: block;
    margin-left: -60px;
    margin-top: 400px;
    height: 332px;

}

.ulmain {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.main3h2 {
    width: 735px;
    color: #D9D9D9;
    font-family: Italiana;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 165px;
}

.photomain3 {
    display: flex;
    justify-content: space-around;
}


.footer {
    background-color: #202023;
    margin: 0;
}

.h3footer {
    color: #FFF;
    font-family: Italiana;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.main3p {
    width: 251px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h3 {
    width: 129.536px;
    height: 60px;
    color: #FFF;
    font-family: 'Italiana' sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-left: 500px;
    margin-bottom: -80px;
}

.h41 {
    width: 175.727px;
    height: 44px;
    flex-shrink: 0;
    color: #FFF;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1220px;
    margin-top: 180px;
    margin-bottom: 0;
}

.h42 {
    width: 109.453px;
    height: 50px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1500px;
    margin-top: -40px;
}

.p1 {
    width: 207.86px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 10;
    line-height: normal;
    margin-left: 1220px;
}

.p2 {
    width: 120.826px;
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 1498px;
    margin-top: -50px;
}

.p3 {
    width: 225.934px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: start;
    margin-left: 1220px;
}

.p33 {
    width: 225.934px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: start;
    margin-left: 1220px;
}

.footerphoto {
    width: 535.213px;
    height: 487px;
    flex-shrink: 0;
    margin-left: 500px;
    margin-top: -340px;
}

.p4 {
    width: 400.337px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 300PX;
    margin-top: 200PX;
}

.p5 {
    width: 68.283px;
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 800PX;
    margin-top: -150PX;
}

.p6 {
    width: 119.496px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 1200px;
    margin-top: -50px;
}

.p7 {
    width: 107.446px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 1600px;
    margin-top: -50px;
}

.p8 {
    width: 147.446px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 800px;
    margin-top: 40px;
}

.p9 {
    width: 104.725px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 1210px;
    margin-top: -100px;
}

.p10 {
    width: 118.492px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 1600px;
    margin-top: -70px;
}

.p11 {
    width: 174.725px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 350px;
    margin-top: -50px;
}

.p12 {
    width: 275.142px;
    color: #3f3e3e;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}